
.nav-about {
  position: fixed;
  z-index: 1000;
  top: 0;
}
/*header start*/
.scroll-down{
  opacity: var(--opacity-low);
  margin-top: 15rem;
  text-align: center;
  position: relative;
  font-size: var(--navbar-font-size);
  font-family: var(--primary-font);
}
.scroll-down.active{
  opacity: 0;
  transition: 0.1s;
}
.scroll-sticky{
  animation: bounce 1.5s infinite;
}
@-o-keyframes bounce{
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
/*header end*/
/* demo-images start */
.let-text{
  padding: 3rem 5rem;
  margin: 1rem 5rem;
  font-weight: 600;
  position: relative;
  
}
.let-text h2{
  font-size: var(--title-section-header-size);
  font-family: var(--primary-font);
  text-align: center;
  font-weight: 600;
}
.let-text::before{
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: var(--bg-color);
	transition: 1s;
  transform: scaleY(0);
  transform-origin: bottom;
}
.let-text.active::before{
	transform: scaleY(1);
}
.grid-text-img{
	margin-top: 20.5rem;
}
.text h2{
  width: 300vw;
  position: relative;
  text-align: center;
  margin-left: 50rem;
}
.art-text{
	-webkit-text-stroke: 1px var(--primary-color)!important;
	color: var(--bg-color)!important;
}
.art{
	color: var(--primary-color);
  position: relative;
  height: 100%;
  width: 100%;
}
.art1-text:before,
.art1-text:after, 
.art2-text:before,
.art2-text:after {
    color: inherit;
    content: attr(data-text);
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--bg-color);
    overflow: hidden;
    top: 0;
	left: 0;
  }
  .art1-text:before, .art2-text:before{
    left: 3px;
    text-shadow: -2px 0 var(--red-glitch);
    animation: glitch-1 2s linear infinite reverse;
  }
  .art1-text:after, .art2-text:after{
    left: -3px;
    text-shadow: -2px 0 var(--blue-glitch);
    animation: glitch-2 2s linear infinite reverse;
  }
  .wrapper{
    display: flex;
  }
  .wrapper img {
    width: 100%;
    height: auto;
  }
  .demo-gallery:not(.last) {
    padding-bottom: 1rem;
  }
  .wrapper li {
    flex-shrink: 0;
    width: clamp(500px, 60vw, 800px);
    margin: 0rem 0.5rem;
  }
  .demo-gallery1{
    margin-left: -100rem;
  }
  .demo-gallery2{
    margin-left: 100rem;
  }
  .demo-gallery3{
    margin-left: -100rem;
  }
  /* demo gallery end */
  /* about section start */
  .about{
    height: 200vh;
    display: flex;
    margin-top: 5rem;	
  }
  .about-title{
    width: 50%;
    height: 100vh;
    background-color: var(--primary-color);
  }
  .about-me-text-h2{
    position: relative;
    color: var(--bg-color);
    top: 7rem;
    left: 3rem;
    font-size: var(--title-section-header-size);
    letter-spacing: -3px;
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
    display: inline-block;
  }
  .about-me-text-h2.active{
    transform: scaleX(1);
    transition-delay: 0s;
  }
  .about-me-text-h2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    top: 20px;

    background: var(--bg-color);
    transform-origin: right;
    transition: 0.5s;
    transition-delay: 0s;
  }
  .about-me-text-h2.active::before{
    transform: scaleX(0);
    transition-delay: 0.5s;
  }

  .ren-image .ren-image-child{
    max-height: 70%;
    max-width: 85%;
    bottom: -2px;
    left: 0;
    transition: 0.5s;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
  }
  .ren-image .ren-image-child.active{
    left: 175px;
    opacity: 1;
  }
  .about-pages{
    width: 50%;
  }
  .about-pages > .about-box1, .about-box2{
    height: 100vh;
    position: relative;
  }
  .about-pages .about-box1{
    background-color: var(--secondary-color);
  }
  .about-pages .about-box2{
    background-color: var(--accent-color);
  }
  /*about-box1 start*/
  .box1-parent, .box2-parent{
    padding: 0rem 4rem;
  }
  .box1-parent{
    /* max-height: 560px; */
    max-width: 690px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    position: relative;
    margin: 0 auto;
    top: 5rem;
  }
  .about-header-text1 h2{
    line-height: 5rem;
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
    font-size: var(--paragraph-font-size);
    position: relative;
    display: inline-block;
    color: var(--bg-color);
  }
  .about-header-text1 .reveal-text-first.active{
    transform: scaleX(1);
    transition-delay: 0s;
  }
  .about-header-text1 .reveal-text-first::before{
    content: "";
    position: absolute;
    left: 0;
    background: var(--bg-color);
    transform-origin: right;
    transition: 0.5s;
    transition-delay: 0s;
    overflow: hidden;
  }
 
  .about-header-text1 .reveal-text-first:nth-child(3)::before,
  .about-header-text1 .reveal-text-first:nth-child(4)::before{
    height: 86%;
    width: 100%;
  }
  .about-header-text1 .reniel-header::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 40%;
    background: var(--bg-color);
    transform-origin: right;
    transition: 0.5s;
    transition-delay: 0s;
    overflow: hidden;
    top: 20px;
  }
  .about-header-text1 .reniel-header.active::before,
  .about-header-text1 .reveal-text-first.active::before{
    transform: scaleX(0);
    transition-delay: 0.5s;
  }
  .about-header-text1 h2:not(.reniel-header){
    font-size: var(--title-section-header-size-medium);
  }
  .about-header-text1 h2:nth-child(3){
    -webkit-text-stroke: 2px var(--bg-color);
    color: var(--secondary-color);
  }
  .about-header-text1 h2:nth-child(4){
    margin-left: 5rem;	
  }
  
  .about-header-paragraph .reveal-text-first-paragraph{
    font-family: 'alumni sans', sans-serif;
    font-size: var(--paragraph-font-size);
    font-weight: 600;
    transform-origin: right;
    transform: scaleX(0);
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
    position: relative;
    color: var(--bg-color);
  }
  .about-header-paragraph .reveal-text-first-paragraph.active{
    transform: scaleX(1);
    transition-delay: 0s;
  }
  .about-header-paragraph .reveal-text-first-paragraph::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--bg-color);
    transform-origin: left;
    transition: 0.5s;
    transition-delay: 0s;
    overflow: hidden;
  }
  .about-header-paragraph .reveal-text-first-paragraph.active::before{
    transform: scaleX(0);
    transition-delay: 0.5s;
  }
  .about-header-paragraph{
     margin-top: 20px;
  }
  /*about-box1 end*/
  /*about-box2 start*/
  .box2-parent{
    /* max-height: 560px; */
    max-width: 690px;
    position: relative;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin: auto;
    top: 5rem;
  }
  .about-header-text2 h2{
    font-family: var(--primary-font);
    font-size: var(--title-section-header-size-medium);
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  .about-header-text2 .reveal-text-second.active{
    transform: scaleX(1);
    transition-delay: 0s;
  }
  .about-header-paragraph2{
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-size);
    padding-bottom: 2rem;
  }
  .about-header-text2 .reveal-text-second::before{
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 60%;
    background: var(--secondary-color);
    transform-origin: right;
    transition: 0.5s;
    transition-delay: 0s;
    overflow: hidden;
  }
  .about-header-text2 .reveal-text-second.active::before{
    transform: scaleX(0);
    transition-delay: 0.5s;
  }
  .about-header-paragraph2 .reveal-text-second-paragraph{
    transform-origin: right;
    transform: scaleX(0);
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
  }
  .about-header-paragraph2 .reveal-text-second-paragraph.active{
    transform: scaleX(1);
    transition-delay: 0s;
  }
  .about-header-paragraph2 .reveal-text-second-paragraph::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--primary-color);
    transform-origin: left;
    transition: 0.5s;
    transition-delay: 0s;
    overflow: hidden;
  }
  .about-header-paragraph2 .reveal-text-second-paragraph.active::before{
    transform: scaleX(0);
    transition-delay: 0.5s;
  }
  /*about-box2 end*/
  /*about-skills start*/
.skills-text{
	letter-spacing: -3px;
  position: relative;
  display: inline-block;
  top: 7rem;
  left: 3rem;
}
.skills-text h2{
	font-family: var(--primary-font);
  font-size: var(--title-section-header-size);
}
section.about-skills{
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  position: relative;
  color: var(--primary-color);
}
.about-skills .skills-text .skills-header{
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.5s;
  transition-delay: 0.5s;
}
.about-skills .skills-text .skills-header.active{
  transform: scaleX(1);
  transition-delay: 0s;
}
.about-skills-parent{
  position: relative;
  height: auto;
  width: 70%;
  margin: 0 auto;
  top: 5rem;
}
.about-skills .skills-text .skills-header::before{
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 60%;
  background: var(--primary-color);
  transform-origin: right;
  transition: 0.5s;
  transition-delay: 0s;
  overflow: hidden;
}
.about-skills .skills-text .skills-header.active::before{
  transform: scaleX(0);
  transition-delay: 0.5s;
}
.about-skills-parent dl{
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 100px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  justify-content: center;
  margin-top: 50px;
 
}
/*.about-skills-parent dl::before{
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  background: #ffffff;
  bottom: -130px;
}*/
.about-skills-parent dl > div:last-child{
  margin-bottom: 7rem;
}
.about-skills-parent div > dt{
  font-size: 24px;
  font-family: 'teko', sans-serif;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  font-weight: 500;
  margin-left: -4rem;
}
.about-skills-parent div > dd{
  font-family: 'alumni sans', sans-serif;
  font-size: 20px;
}
.about-skills-parent .fa-brands{
  font-size: 50px;
}
/*about-skills end*/
/* scroll up */
.scroll-up{
  text-align: center;
  margin: 8rem 0rem 5rem 0rem;
  font-size: var(--navbar-font-size);
  opacity: var(--opacity-low);
}
/* footer */

.footer{
  margin-bottom: 3rem;
}
/* responsive start */
.about-responsive{
  display: none;
}
.hamburger-about div {
  width: 30px;
  height: 3px;
  background: var(--primary-color);
  margin: 5px;
  transition: all 0.3s ease;
  z-index: 1003;
}
.hamburger-about {
  display: none;
}
.toggle-about .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle-about .line2 {
  opacity: 0;
}
.toggle-about .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* for mobile devices */
@media only screen and (max-width: 376px) {
  .nav-about {
    position: fixed;
    top: 0;
    z-index: 1001;
    padding: 1rem 2rem;
  }
  .hamburger-about {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
    mix-blend-mode: difference;
  }
  .navbar-about {
    position: absolute;
    background: var(--secondary-color);
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: circle(0px at 90% -20%);
    -webkit-clip-path: circle(0px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .navbar-about li a {
    font-size: var(--navbar-font-size-responsive);
    color: var(--bg-color);
    font-family: var(--navbar-font);
    text-transform: uppercase;
    font-weight: bold;
  }
  /* fix */
  .navbar-about.open-about {
    clip-path: circle(1100px at 70% -10%);
    -webkit-clip-path: circle(1100px at 70% -10%);
    pointer-events: all;
    
  }
  .navbar-about li::after {
    height: 3px;
    background: var(--bg-color);
  }
  .navbar-about li {
    opacity: 0;
  }
  .navbar-about li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .navbar-about li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .navbar-about li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .navbar-about li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .navbar-about li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .navbar-about li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .navbar-about li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade-about {
    opacity: 1;
  }
  .let-text h2{
    font-size: 1.25rem !important;
  }
  .let-text{
    padding: 0;
  }
  .text h2{
    font-size: 4rem;
  }
  .wrapper li{
    width: clamp(500px, 50vw, 700px) !important;
  }
  .about-me-text-h2{
    font-size: var(--min-width-1281-title-section-header-size);
  }
  .ren-image .ren-image-child{
    
    max-width: 120%;
  }
  .ren-image .ren-image-child.active{
    left: 0;
  }
  .grid-text-img{
    padding-top: 15rem;
    display: none !important;
  }
  h2.reveal-text-first.active, h2.reveal-text-first.active::after{
    margin: 0;
  }
  .about{
    display: none;
  }
  .about-responsive{
    display: block;
    margin-top: 10rem;
  }
  .box1-parent,.box2-parent{
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin: 1rem auto;
    padding: 0rem 1rem;
  }
  .box2-parent{
    margin-top: 2rem;
  }
  .about-header-paragraph, .about-header-paragraph2{
    padding-bottom: 2rem;
  }
  .reveal-text-second.active,
  .reveal-text-second-paragraph.active{
    color: var(--bg-color) !important;
    font-weight: 600;
  }
  .about-header-text2 .reveal-text-second::before,.about-header-paragraph2 .reveal-text-second-paragraph::before{
    background-color: var(--bg-color);
  }
  
  section.about-skills{
    height: 100%;
    width: 100%;
    position: static;
    margin-top: 5rem;
  }
  .about-skills-parent dl{
    grid-template-columns: 1fr;
    margin: 1rem;
  }
  .about-skills-parent div > dd{
    font-size: 1rem;
  }
  .about-responsive .box1-parent.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  .about-responsive .box1-parent.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  .about-responsive .box2-parent.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  .skills-text h2.skills-header {
    font-size: 5rem !important;
}
  .about-responsive .box2-parent.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  .hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  .show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}
/* for 480px wide screens */
@media only screen and (min-width: 376px) and (max-width: 480px) {
  .nav-about {
    position: fixed;
    z-index: 1001;
    top: 0;
    padding: 2rem 2rem;
  }
  .hamburger-about {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
    mix-blend-mode: difference;
  }
  .navbar-about {
    position: absolute;
    background: var(--secondary-color);
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: circle(0px at 90% -20%);
    -webkit-clip-path: circle(0px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .navbar-about li a {
    font-size: var(--navbar-font-size-responsive);
    color: var(--bg-color);
    font-family: var(--navbar-font);
    text-transform: uppercase;
    font-weight: bold;
  }
  /* fix */
  .navbar-about.open-about {
    clip-path: circle(1100px at 70% -10%);
    -webkit-clip-path: circle(1100px at 70% -10%);
    pointer-events: all;
    
  }
  .navbar-about li::after {
    height: 3px;
    background: var(--bg-color);
  }
  .navbar-about li {
    opacity: 0;
  }
  .navbar-about li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .navbar-about li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .navbar-about li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .navbar-about li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .navbar-about li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .navbar-about li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .navbar-about li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade-about {
    opacity: 1;
  }
  .let-text h2{
    font-size: 1.25rem !important;
  }
  .let-text{
    padding: 0;
  }
  .text h2{
    font-size: 4rem;
  }
  .wrapper li{
    width: clamp(500px, 50vw, 700px) !important;
  }
  .about-me-text-h2{
    font-size: var(--min-width-1281-title-section-header-size);
  }
  .ren-image .ren-image-child{
    
    max-width: 120%;
  }
  .ren-image .ren-image-child.active{
    left: 0;
  }
  .grid-text-img{
    padding-top: 15rem;
    display: none !important;
  }
 
  .scroll-up{
    
    margin-top: 2rem;
  }
  h2.reveal-text-first.active, h2.reveal-text-first.active::after{
    margin: 0;
  }
  .about{
    display: none;
  }
  .about-responsive{
    display: block;
    margin-top: 10rem;
  }
  .box1-parent,.box2-parent{
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin: 1rem auto;
    padding: 0rem 1rem;
  }
  .box2-parent{
    margin-top: 2rem;
  }
  .about-header-paragraph, .about-header-paragraph2{
    padding-bottom: 2rem;
  }
  .reveal-text-second.active,
  .reveal-text-second-paragraph.active{
    color: var(--bg-color) !important;
    font-weight: 600;
  }
  .about-header-text2 .reveal-text-second::before,.about-header-paragraph2 .reveal-text-second-paragraph::before{
    background-color: var(--bg-color);
  }
  section.about-skills{
    height: 100%;
    width: 100%;
    position: static;
    margin-top: 5rem;
  }
  .about-skills-parent dl{
    grid-template-columns: 1fr;
    margin: 1rem;
  }
  .about-skills-parent div > dd{
    font-size: 1rem;
  }
  .about-responsive .box1-parent.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  .about-responsive .box1-parent.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  .about-responsive .box2-parent.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  .about-responsive .box2-parent.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  .hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  .show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}
/* for low resolution tablets , ipads*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .nav-about {
    position: fixed;
    top: 0;
    z-index: 1001;
    padding: 2rem 2rem;
  }
  .hamburger-about {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
    mix-blend-mode: difference;
  }
  .navbar-about {
    position: absolute;
    background: var(--secondary-color);
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: circle(0px at 90% -20%);
    -webkit-clip-path: circle(0px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .navbar-about li a {
    font-size: var(--navbar-font-size-responsive);
    color: var(--bg-color);
    font-family: var(--navbar-font);
    text-transform: uppercase;
    font-weight: bold;
  }
  /* fix */
  .navbar-about.open-about {
    clip-path: circle(1100px at 70% -10%);
    -webkit-clip-path: circle(1100px at 70% -10%);
    pointer-events: all;
    
  }
  .navbar-about li::after {
    height: 3px;
    background: var(--bg-color);
  }
  .navbar-about li {
    opacity: 0;
  }
  .navbar-about li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .navbar-about li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .navbar-about li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .navbar-about li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .navbar-about li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .navbar-about li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .navbar-about li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade-about {
    opacity: 1;
  }
  .let-text h2{
    font-size: 2rem !important;
  }
  .let-text{
    padding: 0;
  }
  .text h2{
    font-size: 5rem;
  }
  .wrapper li{
    width: clamp(500px, 50vw, 700px) !important;
  }
  .about-me-text-h2{
    font-size: var(--min-width-1281-title-section-header-size);
  }
  .ren-image .ren-image-child{
    
    max-width: 120%;
  }
  .ren-image .ren-image-child.active{
    left: 0;
  }
  .grid-text-img{
    padding-top: 15rem;
    display: none !important;
  }
 
  .scroll-up{
    
    margin-top: 2rem !important;
  }
  h2.reveal-text-first.active, h2.reveal-text-first.active::after{
    margin: 0;
  }
  .about{
    display: none;
  }
  .about-responsive{
    display: block;
    margin-top: 10rem;
  }
  .box1-parent,.box2-parent{
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin: 1rem auto;
  }
  .box2-parent{
    margin-top: 2rem;
  }
  .about-header-paragraph, .about-header-paragraph2{
    padding-bottom: 2rem;
  }
  .reveal-text-second.active,
  .reveal-text-second-paragraph.active{
    color: var(--bg-color) !important;
    font-weight: 600;
  }
  .about-header-text2 .reveal-text-second::before,.about-header-paragraph2 .reveal-text-second-paragraph::before{
    background-color: var(--bg-color);
  }
  section.about-skills{
    height: 100%;
    width: 100%;
    position: static;
    margin-top: 5rem;
  }
  .about-skills-parent dl{
    grid-template-columns: 1fr;
  }
  .about-responsive .box1-parent.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  .about-responsive .box1-parent.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  .about-responsive .box2-parent.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  .about-responsive .box2-parent.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  .hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  .show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}
/* for other 600px with tablets */
@media only screen and (min-width: 600px) and (max-width: 912px){
  .nav-about {
    top: 0;
    position: fixed;
    z-index: 1001;
    padding: 2rem 2rem;
  }
  .hamburger-about {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
    mix-blend-mode: difference;
  }
  .navbar-about {
    position: absolute;
    background: var(--secondary-color);
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: circle(0px at 90% -20%);
    -webkit-clip-path: circle(0px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .navbar-about li a {
    font-size: var(--navbar-font-size-responsive);
    color: var(--bg-color);
    font-family: var(--navbar-font);
    text-transform: uppercase;
    font-weight: bold;
  }
  /* fix */
  .navbar-about.open-about {
    clip-path: circle(1100px at 70% -10%);
    -webkit-clip-path: circle(1100px at 70% -10%);
    pointer-events: all;
    
  }
  .navbar-about li::after {
    height: 3px;
    background: var(--bg-color);
  }
  .navbar-about li {
    opacity: 0;
  }
  .navbar-about li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .navbar-about li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .navbar-about li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .navbar-about li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .navbar-about li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .navbar-about li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .navbar-about li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade-about {
    opacity: 1;
  }
  .let-text h2{
    font-size: 2rem !important;
  }
  .let-text{
    padding: 0;
  }
  .text h2{
    font-size: 7rem;
  }
  .wrapper li{
    width: clamp(500px, 50vw, 700px) !important;
  }
  .about-me-text-h2{
    font-size: var(--min-width-1281-title-section-header-size);
  }
  .ren-image .ren-image-child{
    
    max-width: 120%;
  }
  .ren-image .ren-image-child.active{
    left: 0;
  }
  .grid-text-img{
    padding-top: 15rem;
    display: none !important;
  }
 
  .scroll-up{
    
    margin-top: 2rem;
  }
  h2.reveal-text-first.active, h2.reveal-text-first.active::after{
    margin: 0;
  }
  .about{
    display: none;
  }
  .about-responsive{
    display: block;
    margin-top: 10rem;
  }
  .box1-parent,.box2-parent{
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin: 1rem auto;
  }
  .box2-parent{
    margin-top: 2rem;
  }
  .about-header-paragraph, .about-header-paragraph2{
    padding-bottom: 2rem;
  }
  .reveal-text-second.active,
  .reveal-text-second-paragraph.active{
    color: var(--bg-color) !important;
    font-weight: 600;
  }
  .about-header-text2 .reveal-text-second::before,.about-header-paragraph2 .reveal-text-second-paragraph::before{
    background-color: var(--bg-color);
  }
  section.about-skills{
    height: 100%;
    width: 100%;
    position: static;
    margin-top: 5rem;
  }
  .about-skills-parent dl{
    grid-template-columns: 1fr;
  }
  .about-responsive .box1-parent.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  .about-responsive .box1-parent.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  .about-responsive .box2-parent.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  .about-responsive .box2-parent.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  .hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  .show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

@media only screen and (min-width: 912px) and (max-width: 1024px) {
  .nav-about {
    position: fixed;
    width: 100vw;
    z-index: 1000;
}
  .hamburger-about {
    display: block;
    cursor: pointer;    
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
    mix-blend-mode: difference;
  }
  .navbar-about {
    position: absolute;
    background: var(--secondary-color);
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: circle(0px at 90% -20%);
    -webkit-clip-path: circle(0px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .navbar-about li a {
    font-size: var(--navbar-font-size-responsive);
    color: var(--bg-color);
    font-family: var(--navbar-font);
    text-transform: uppercase;
    font-weight: bold;
  }
  /* fix */
  .navbar-about.open-about {
    clip-path: circle(1100px at 70% -10%);
    -webkit-clip-path: circle(1100px at 70% -10%);
    pointer-events: all;
    
  }
  .navbar-about li::after {
    height: 3px;
    background: var(--bg-color);
  }
  .navbar-about li {
    opacity: 0;
  }
  .navbar-about li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .navbar-about li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .navbar-about li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .navbar-about li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .navbar-about li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .navbar-about li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .navbar-about li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade-about {
    opacity: 1;
  }
  .let-text h2{
    font-size: 3rem !important;
  }
  .text h2{
    font-size: 10rem;
  }
  .wrapper li{
    width: clamp(500px, 50vw, 700px) !important;
  }
  .about-me-text-h2::before{
    top: 10px;
  }
  .about-me-text-h2, .about-header-text1 h2:not(.reniel-header),
  .about-header-text2 h2{
    font-size: 5rem;
  }
  .about-header-paragraph .reveal-text-first-paragraph, 
  .about-header-paragraph2 .reveal-text-second-paragraph{
    font-size: 20px;
  }
  .about-header-text2 .reveal-text-second::before{
    top: 15px;
  }
  
  .ren-image .ren-image-child{
    
    max-width: 120%;
  }
  .ren-image .ren-image-child.active{
    left: 8rem;
  }
  .grid-text-img{
    padding-top: 15rem;
    display: none;
  }
  .about{
    display: none;
  }
  .about-responsive{
    display: block;
  }
  .box1-parent,.box2-parent{
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin: 1rem auto;
  }
  .box2-parent{
    margin-top: 2rem;
  }
  .about-header-paragraph, .about-header-paragraph2{
    padding-bottom: 2rem;
  }
  .reveal-text-second.active,
  .reveal-text-second-paragraph.active{
    color: var(--bg-color) !important;
    font-weight: 600;
  }
  .about-header-text2 .reveal-text-second::before,.about-header-paragraph2 .reveal-text-second-paragraph::before{
    background-color: var(--bg-color);
  }
  section.about-skills{
    height: 100%;
    width: 100%;
    position: static;
    margin-top: 5rem;
  }
  .about-skills-parent dl{
    grid-template-columns: 1fr;
  }
  .about-responsive .box1-parent.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  .about-responsive .box1-parent.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  .about-responsive .box2-parent.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  .about-responsive .box2-parent.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  .hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  .show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  /* #about-section .footer{
    padding: 10rem 0rem 5rem 0rem;
  } */
}
/* tablet fix  height for width 1024*/
/* @media screen and (height: 600px ) {
  .scroll-up {
    margin-top: 25rem;
}
.reveal-text-second-paragraph:last-child{
    display: none;
  }
  .ren-image .ren-image-child{
    
    max-width: 80%;
  }
} */
@media only screen and  (height: 768px) {
  .scroll-up{
    margin-top: 20rem;
  }
}
/* @media screen and (min-height: 1024px) and (max-height: 1366px){
  .about{
    display: none;
  }
  .about-responsive{
    display: block;
    margin-top: 10rem;
  }
  .box1-parent,.box2-parent{
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin: 1rem auto;
  }
  .box2-parent{
    margin-top: 2rem;
  }
  .about-header-paragraph, .about-header-paragraph2{
    padding-bottom: 2rem;
  }
  .reveal-text-second.active,
  .reveal-text-second-paragraph.active{
    color: var(--bg-color) !important;
    font-weight: 600;
  }
  .about-header-text2 .reveal-text-second::before,.about-header-paragraph2 .reveal-text-second-paragraph::before{
    background-color: var(--bg-color);
  }
  section.about-skills{
    height: 100%;
    width: 100%;
    position: static;
    margin-top: 5rem;
  }
  .about-skills-parent dl{
    grid-template-columns: 1fr;
  }
  .about-responsive .box1-parent.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  .about-responsive .box1-parent.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  .about-responsive .box2-parent.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  .about-responsive .box2-parent.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  .hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  .show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
} */
/* tablet max height 1280 */
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .nav-about {
    position: fixed;
    width: 100vw;
    z-index: 1000;
}
.hamburger-about {
  display: block;
  cursor: pointer;    
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 2;
  transition: all 0.7s ease;
  mix-blend-mode: difference;
}
.navbar-about {
  position: absolute;
  background: var(--secondary-color);
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: circle(0px at 90% -20%);
  -webkit-clip-path: circle(0px at 90% -10%);
  transition: all 1s ease-out;
  pointer-events: none;
}
.navbar-about li a {
  font-size: var(--navbar-font-size-responsive);
  color: var(--bg-color);
  font-family: var(--navbar-font);
  text-transform: uppercase;
  font-weight: bold;
}
/* fix */
.navbar-about.open-about {
  clip-path: circle(1100px at 70% -10%);
  -webkit-clip-path: circle(1100px at 70% -10%);
  pointer-events: all;
  
}
.navbar-about li::after {
  height: 3px;
  background: var(--bg-color);
}
.navbar-about li {
  opacity: 0;
}
.navbar-about li:nth-child(1) {
  transition: all 0.5s ease 0.2s;
}
.navbar-about li:nth-child(2) {
  transition: all 0.5s ease 0.4s;
}
.navbar-about li:nth-child(3) {
  transition: all 0.5s ease 0.6s;
}
.navbar-about li:nth-child(4) {
  transition: all 0.5s ease 0.7s;
}
.navbar-about li:nth-child(5) {
  transition: all 0.5s ease 0.8s;
}
.navbar-about li:nth-child(6) {
  transition: all 0.5s ease 0.9s;
  margin: 0;
}
.navbar-about li:nth-child(7) {
  transition: all 0.5s ease 1s;
  margin: 0;
}
li.fade-about {
  opacity: 1;
}
.let-text h2{
  font-size: 4rem;
}
.grid-text-img{
  display: none;
}
.about{
  display: none;
}
.about-responsive{
  display: block;
}
.box1-parent,.box2-parent{
  background-color: var(--secondary-color);
  border-radius: 10px;
  margin: 1rem auto;
}
.box2-parent{
  margin-top: 2rem;
}
.about-header-paragraph, .about-header-paragraph2{
  padding-bottom: 2rem;
}
.reveal-text-second.active,
.reveal-text-second-paragraph.active{
  color: var(--bg-color) !important;
  font-weight: 600;
}
.about-header-text2 .reveal-text-second::before,.about-header-paragraph2 .reveal-text-second-paragraph::before{
  background-color: var(--bg-color);
}
section.about-skills{
  height: 100%;
  width: 100%;
  position: static;
  margin-top: 5rem;
}
.about-skills-parent dl{
  grid-template-columns: 1fr 1fr;
}
.about-responsive .box1-parent.hidden{
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}
.about-responsive .box1-parent.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.about-responsive .box2-parent.hidden{
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}
.about-responsive .box2-parent.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.hidden{
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
}
@media only screen and (min-device-width: 1280px) and (max-device-width: 1368px)
and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
  .nav-about {
    position: fixed;
    width: 100vw;
    z-index: 1000;
}
.hamburger-about {
  display: block;
  cursor: pointer;    
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 2;
  transition: all 0.7s ease;
  mix-blend-mode: difference;
}
.navbar-about {
  position: absolute;
  background: var(--secondary-color);
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: circle(0px at 90% -20%);
  -webkit-clip-path: circle(0px at 90% -10%);
  transition: all 1s ease-out;
  pointer-events: none;
}
.navbar-about li a {
  font-size: var(--navbar-font-size-responsive);
  color: var(--bg-color);
  font-family: var(--navbar-font);
  text-transform: uppercase;
  font-weight: bold;
}
/* fix */
.navbar-about.open-about {
  clip-path: circle(1100px at 70% -10%);
  -webkit-clip-path: circle(1100px at 70% -10%);
  pointer-events: all;
  
}
.navbar-about li::after {
  height: 3px;
  background: var(--bg-color);
}
.navbar-about li {
  opacity: 0;
}
.navbar-about li:nth-child(1) {
  transition: all 0.5s ease 0.2s;
}
.navbar-about li:nth-child(2) {
  transition: all 0.5s ease 0.4s;
}
.navbar-about li:nth-child(3) {
  transition: all 0.5s ease 0.6s;
}
.navbar-about li:nth-child(4) {
  transition: all 0.5s ease 0.7s;
}
.navbar-about li:nth-child(5) {
  transition: all 0.5s ease 0.8s;
}
.navbar-about li:nth-child(6) {
  transition: all 0.5s ease 0.9s;
  margin: 0;
}
.navbar-about li:nth-child(7) {
  transition: all 0.5s ease 1s;
  margin: 0;
}
li.fade-about {
  opacity: 1;
}
.scroll-down{
  margin-top: 10rem;
}
  .let-text h2{
    font-size: 4rem !important;
  }
  .grid-text-img{
    display: none;
  }
  /* .wrapper li{
    width: clamp(500px, 50vw, 700px) !important;
  } */
  .about{
    margin-top: 21rem;
    display: none;
  }
  .about-responsive{
    display: block;
  }
  .box1-parent,.box2-parent{
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin: 1rem auto;
  }
  .box2-parent{
    margin-top: 2rem;
  }
  .about-header-paragraph, .about-header-paragraph2{
    padding-bottom: 2rem;
  }
  .reveal-text-second.active,
  .reveal-text-second-paragraph.active{
    color: var(--bg-color) !important;
    font-weight: 600;
  }
  .about-header-text2 .reveal-text-second::before,.about-header-paragraph2 .reveal-text-second-paragraph::before{
    background-color: var(--bg-color);
  }
  section.about-skills{
    height: 100%;
    width: 100%;
    position: static;
    margin-top: 5rem;
  }
  .about-skills-parent dl{
    grid-template-columns: 1fr 1fr;
  }
  .about-responsive .box1-parent.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  .about-responsive .box1-parent.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  .about-responsive .box2-parent.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  .about-responsive .box2-parent.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  .hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  .show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  /* .scroll-up{
    margin-top: 20rem;
  } */
}
/* @media only screen and (max-device-width: 1366px) and (orientation: portrait){
  .grid-text-img{
    display: none;
  }
  .about{
    display: none;
  }
  .about-responsive{
    display: block;
  }
 .about-responsive .box1-parent, .box2-parent {
    padding: 2rem 4rem;
}
} */
/* for laptop dimension */
/* @media screen 
  and (min-device-width: 1280px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .nav-about{
      background-color: green;
    }
} */

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-width: 1280px) 
  and (max-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) { 
    /* .nav-about{
      background-color: blue;
    } */
    .let-text h2{
      font-size: 5rem;
    }
    
    .wrapper li {
      flex-shrink: 0;
      width: clamp(400px, 60vw, 600px);
      margin: 0rem 0.5rem;
    }
    .demo-text h2{
      font-size: 15rem;
    }
    .ren-image .ren-image-child{
      width: 70%;
    }
    .scroll-up{
      margin-top: 20rem;
    }
}


/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1280px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .let-text h2{
      font-size: 5rem;
    }
    .wrapper li {
      flex-shrink: 0;
      width: clamp(400px, 60vw, 600px);
      margin: 0rem 0.5rem;
    }
    .ren-image .ren-image-child{
      width: 70%;
    }
    .demo-text h2{
      font-size: 15rem;
    }
    .scroll-up{
      margin-top: 20rem;
    }
}