#config-overlay {
  text-align: center;
}
#config-overlay h2 {
  margin: 1rem 0;
}
.input-area {
  margin: 1rem 0;
}
.input-area label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.input-area input {
  font: inherit;
  border: 2px solid var(--accent-color);
  width: 15rem;
  padding: 0.5rem 1rem;
}
#config-overlay button {
  margin-bottom: 1rem;
}
.error label {
  color: rgb(216, 37, 37);
}
.error input {
  background-color: rgb(241, 172, 172);
  border-color: rgb(216, 37, 37);
}
#game-configuration {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  text-align: center;
}
#game-configuration ol {
  display: flex;
}
#game-configuration ol li {
  width: 50%;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--white-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#game-configuration h2 {
  margin: 0.5rem 0;
}
#game-configuration h3 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
.player-symbol {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5rem 0;
}
@media screen and (max-width: 570px) {
  h1,
  h2 {
    font-size: 2rem;
  }
  #game-configuration ol li {
    width: 100%;
  }
}
@media screen and (max-width: 710px) {
  #game-configuration ol {
    flex-direction: column;
    align-items: center;
  }
}
